<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Formulario">
    <test name="Functional Test">
         <classes>
             <class name="test.java.com.formulario.tests.CalendarTest.java"/>
             <class name="test.java.com.formulario.tests.FormActionsTest.java"/>
             <class name="test.java.com.formulario.tests.CalendarTest.java"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->