<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Formulario">
    <test name="Functional Test">
         <classes>
             <class name="com.formulario.tests.FormActionsTest"/>
             <class name="com.formulario.tests.FormElementsTest"/>
             <class name="com.formulario.tests.CalendarTest"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->